name: Build WDA (Warm-up)

on:
  workflow_call:
    inputs:
      os_version:
        description: 'iOS Simulator OS version'
        type: string
      device:
        description: 'Simulator device name'
        type: string

jobs:
  build-wda:
    runs-on: macos-15
    env:
      DEVICE: ${{ inputs.device }}
      OS: ${{ inputs.os_version }}
    steps:

      - name: Select Xcode version
        env:
          XCODE_VERSION: ${{ vars.DEFAULT_XCODE }}
        run: |
          echo "Selecting Xcode version $XCODE_VERSION"
          sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app/Contents/Developer
          xcodebuild -version

      - name: Clone WebDriverAgent
        run: git clone https://github.com/appium/WebDriverAgent.git

      - name: Warm-up WDA build
        run: |
          cd WebDriverAgent
          xcodebuild \
            -project WebDriverAgent.xcodeproj \
            -scheme WebDriverAgentRunner \
            -sdk iphonesimulator \
            -destination "platform=iOS Simulator,name=$DEVICE,OS=$OS" \
            -configuration Debug \
            -derivedDataPath /tmp/wda \
            build-for-testing
